{
	"singleQuote": false,
	"printwidth": 100,
	"prosewrap": "always",
	"tabWidth": 2,
	"useTabs": true,
	"trailingComma": "none",
	"bracketSpacing": true,
	"jsxBracketSameLine": false,
	"semi": true
}
